/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

/* Styles */
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  min-width: 1360px;
  max-width: 1360px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

td {
	padding: 12px;
}

h2 {
	color: $vin-blue;
}

.shopping_list {
  height: 100%;
  width: 30%;
}

.header{
  margin: auto;
  text-align: center;
}

.footer {
  bottom: 0;
}

.popup{
  min-width: 600px;
  max-width:1080px;
  padding-top:10px;
}

.popup-content {
  position: relative !important;
  top: auto !important;
  left: auto !important;
  margin: auto !important;
  min-width: 800px;
  max-width: 1080px;
  overflow: scroll;
}
.curate {
  min-width: 800px;
  max-width: 1100px;
  margin: auto !important;
}

.submit-button {
  height:40px;
  width: 112px;
  background: #CC4B06;
  border-radius: 3px;
}

.category_label {
  line-height:36px;
  height: 40px;
  padding-top: 2px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.2), 0px 3px 4px rgba(0,0,0,0.12), 0px 2px 4px rgba(0,0,0,0.14);
}

.product-purchased{
  margin-bottom: 10px !important;
  text-align: center;
}

.purchase-message{
  background-color: $vin-green;
}

.savings { color: $vin-green; }
.loss { color: $vin-red; }
input.small { width: 46px; }
td.fuel-savings-label { width: 175px; }
